#quiz {
  text-align: center;
}
h1 {
  text-align: center;
}
#javaScrpt, #cSharp, #python {
  display: none;
  text-align: center;
}
.jsDescription, .pythonDescription{
  display: none;
}
.javaScrptClick:hover {
  text-decoration: underline;
}
.pythonClick:hover {
  text-decoration: underline;
}
body {
  /*background-color: rgb(254, 255, 215);*/
  background-image: repeating-linear-gradient(#E086D3, #8332AC);
}
.otherBackground{
  background-image: repeating-linear-gradient(rgb(63, 9, 55), rgb(195, 152, 216));
}
.question {
  background-color: rgb(255, 255, 255);
  margin: 10px;
  padding:10px;
  border-radius: 25px;
}
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
